td {
    width: 300px;
    align-items: center;
    margin:auto;
}

.kachel{
background-color: #D4D4D4;
 width: 400px;
 height: 200px;
 border: black 3px solid;
 color: black;
 text-decoration: none; 
 cursor:pointer;
 border-radius: 15px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.logo{
    height: 100px;
}

.link{
    text-decoration: none;
}