td {
    width: 300px;
    align-items: center;
    margin:auto;
}

.kachel{
background-color: #D4D4D4;
 width: 400px;
 height: 200px;
 border: black 3px solid;
 color: black;
 text-decoration: none; 
 cursor:pointer;
 border-radius: 15px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 margin-inline: 60px;
 margin-block: 30px;
}

.logo{
    height: 100px;
}

.link{
    text-decoration: none;
}


.kachel:hover .rotating {
    animation: rotate 5s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    position: relative;
    width: 200px; 
    height: 200px; 
}

.pfeil {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.zahnrad {
    position: absolute;
    top: 18%;
    left: 38%;
    transition: transform 5s linear;
}